<html>
	<head>
		<meta property="og:url" content="test" />
		<meta property="og:type" content="article" />
		<meta property="og:title" content="title" />

	</head>
	<body>
		<h1> <%= share.id %> </h1>
		<p> <%= share.description %> </p>
	</body>
	<script>
		console.log('share', <%= share.link %>);
	</script>
</html>
