<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Fluff Link</h1>
    <p>Welcome to Fluff Link</p>
	<section data-ng-view></section>
  </body>
   <script type="text/javascript" src="/bower_components/angular/angular.min.js"></script> 
   <script type="text/javascript" src="/bower_components/angular-route.min.js"></script> 
   <script type="text/javascript" src="/modules/fluff.module.js"></script> 
   <script type="text/javascript" src="/modules/fluff.routes.js"></script> 
   <script type="text/javascript" src="/modules/fluff.form.controller.js"></script> 
</html>
