<html>
	<head>
		<meta property="og:url" content="<%= link  %>" />
		<meta property="og:type" content="article" />
		<meta property="og:title" content="title" /> 		

	</head>
	<body>
		<h1> Link </h1>
		<p> <%= link  %> </p> 
	</body>
	<script> 
		//window.location.href="<%= link %>";
	</script> 
</html>
